<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NixDB" 
			 connectionString="Data Source=localhost;Initial Catalog=NixDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True"/>
		<add name="DevNixDB"
			connectionString="Data Source=localhost;Initial Catalog=DevNixDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>